body {background-color: rgb(36, 36, 36); color: white; font-family: Space Mono;}
hr {color: white;}
div.quadrato {height: 80px; width: 80px; color: orangered; background-color: white;}
hr.half-width {width: 10%; color: white;}
.a {font-family: BhuTuka Expanded One; font-weight: bold; float: inherit;}
.lefty {float: right;} 
.a1 {float: center;}
.link {text-decoration: none;}
.colorato {color: red;}

/*NAVBAR*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: center;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #111;
  }

/* menù dropdown */

.dropdown {position: relative; display: inline-block;}
.dropdown:hover .dropdown-content {display: block;}
.dropbtn {background-color: rgb(54, 54, 54); color: rgb(255, 255, 255); padding: 16px; font-size: 16px; border: none; border-radius: 15px;}
.dropdown-content {display: none; position: absolute; background-color: #333; min-width: 160px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index:1; border-radius: 15px;}
.dropdown-content a {color: white; padding: 12px 16px; text-decoration: none; display: block;}
.dropdown-content a:hover {background-color: #111; border-radius: 15px;}