body {background-color: rgb(36, 36, 36); color: white; font-family: Space Mono;}
hr {color: white;}
hr.half-width {width: 10%; color: white;}
.a {font-family: BhuTuka Expanded One; font-weight: bold; float: inherit;}
.lefty {float: right;} 
.a1 {float: center;}