$font: Space Mono;

@media (prefers-color-scheme: dark)
{
    :root
    {
        $background: rgb(36, 36, 36);
        $bg-btn: rgb(54, 54, 54); // Navbar UL item and dropdown item
        $col: 
    }
}